/* General Styling */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-image: url(mainbackground.jpg);
    margin-top: 50px;
}

h1 {
    font-family: 'Rock Salt', cursive;
    font-size: 75px;
    color: #0e4c52;

}

h2 {
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
}

/* Navigation Bar Styling */
nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 75px;
    width: 100%;
    background-color: #76eb6a;
    opacity: .75;
    text-align: right;
}

#logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 75px;
    height: 75px;
}

.title {
    position: absolute;
    left: 80px;
    top: 9px;
    font-family: 'Fredericka the Great', cursive;
} 
nav a {
    margin: 0 2vw;
    position: relative;
    top: 25px;
    padding: 0.5em;
    text-decoration: none;
    color: black;
    font-family: 'Fredericka the Great', cursive;
}

nav a:hover {
    background-color: #5ee34f;
}

/* User Input and Buttons Styling */
.userInput {
    font-family: 'Fredericka the Great', cursive;
}
#search, #random, #reset, #revealAnswer, #submit{
    font-family: inherit;
}

.waiting {

}

.scoreCounter {
    position: absolute;
    align-self: center;
    top: 15%;
    padding: 10px;
    border: 5px solid #19818a;
    border-radius: 25px;
    font-family: 'Amatic SC', cursive;
}

.imageContainer {
    height: 750px;
    width: 750px;
    border: 5px solid #19818a;
    border-radius: 25px;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 150px;

}

.infoContainer {
    height: 600px;
    width: 750px;
    border: 5px solid #19818a;
    border-radius: 25px;
    align-self: center;
    margin-top: 10%;
}

#randomAnimal {
    opacity: 1;
    height: 750px;
    width: 750px;
    border-radius: 24px;
}

#detailPhoto {
    height: 500px;
    width: 500px;
}


.userInteraction {
    font-family: 'Fredericka the Great', cursive;
}

.playAgain {

}