/* General Styling */
body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(Images/mainbackground.jpg);
    background-size: cover;
    background-origin: content-box;
    margin-top: 50px;
}

h1 {
    font-family: 'Rock Salt', cursive;
    font-size: 75px;
    color: #0e4c52;

}

h2 {
    font-family: 'Amatic SC', cursive;
    font-size: 35px;
    align-self: center;
    color: #11f294;
    font-weight: bold;
    margin-top: -30px;
}

/* Navigation Bar Styling */
nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 75px;
    width: 100%;
    background: linear-gradient(0deg, rgba(35,183,195,0.8029586834733894) 0%, rgba(118,235,106,1) 88%);

    opacity: .75;
    text-align: right;
}

#logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 75px;
    height: 75px;
}

.title {
    position: fixed;
    left: 77px;
    top: 2px;
    font-family: 'Rock Salt', cursive;
} 
nav a {
    margin: 0 2vw;
    position: relative;
    top: 25px;
    padding: 0.5em;
    text-decoration: none;
    color: black;
    font-family: 'Fredericka the Great', cursive;
    border-radius: 20px;
}

nav a:hover {
    background-color: #5ee34f;
}
/* Header Styling */

.header {
    margin-top: -100px;
    position: relative;
    min-width: 300px;
}
/* User Input and Buttons Styling */
.userInput {
    font-family: 'Fredericka the Great', cursive;
    color: #0e4c52;
}

#search, #random, #reset, #revealAnswer, #submit, #type, #zip{
    font-family: inherit;
    font-size: 18px;
    text-align: center;
    color: inherit;
}

#zip, #type, #search, #random {
    background-color: #11f294;
    border: none;
    border-radius: 20px;
}

#search, #random {
    font-size: 30px;
}

.waiting {

}

.scoreCounter {
    position: absolute;
    align-self: center;
    top: 15%;
    padding: 10px;
    border: 5px solid #19818a;
    border-radius: 25px;
    font-family: 'Amatic SC', cursive;
}

.imageContainer {
    height: 750px;
    width: 750px;
    border: 5px solid #19818a;
    border-radius: 25px;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 150px;

}

.infoContainer {
    height: 600px;
    width: 750px;
    border: 5px solid #19818a;
    border-radius: 25px;
    align-self: center;
    margin-top: 10%;
}

#randomAnimal {
    opacity: 1;
    height: 750px;
    width: 750px;
    border-radius: 24px;
}

#detailPhoto {
    height: 500px;
    width: 500px;
}


.userInteraction {
    font-family: 'Fredericka the Great', cursive;
}

.playAgain {

}